body {
  background: #F7F7F7;
}

footer {
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

#main {
  margin: 10px;
  padding-bottom: 1em;
  -webkit-box-shadow: 5px 5px 5px 2px #888;
  box-shadow: 5px 5px 5px 2px #888;
  background-color: #FFF;
}
